{% extends "base.html" %}

{% block title %}{{ site.name }} - 首页{% endblock %}

{% block content %}
    <h2>最新文章</h2>
    <ul class="post-list">
        {% for post in posts %}
        <li class="post-item">
            <h3>
                <a href="{{ post.slug ~ ".html" }}">{{ post.title | default(value=post.slug) }}</a>
            </h3>
            <p class="post-date">{{ post.createTime }}</p>
            <div class="tags">
                {% set tags = post.tags | default(value=[]) %}
                {% for tag in tags %}
                <span class="tag"><a href="tags.html?tag={{ tag | urlencode }}">{{ tag }}</a></span>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
