{% extends "base.html" %}

{% block title %}{{ page.title | default(value=page.slug) }} - {{ site.name }}{% endblock %}

{% block content %}
    <article>
        <h1>{{ page.title | default(value=page.slug) }}</h1>
        <p class="post-date">{{ page.createTime }}</p>
        <div class="tags">
            {% set tags = page.tags | default(value=[]) %}
            {% for tag in tags %}
            <span class="tag"><a href="tags.html?tag={{ tag | urlencode }}">{{ tag }}</a></span>
            {% endfor %}
        </div>
        <div class="content">
            {{ page.content | safe }}
        </div>
    </article>
{% endblock %}
